@import url(../variables.css);

.blackBg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-black-translucent-color);
  width: 100%;
  height: 100%;
}

.formContainer {
  position: fixed;
  top: calc(50% - var(--modal-container-height) / 2);
  left: calc(50% - var(--modal-container-width) / 2);
  width: var(--modal-container-width);
  height: var(--modal-container-height);
  background-color: var(--background-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} /* 임시로 만든거라 수정해야됨  */
