@import url(../variables.css);

.navContainer {
  margin-top: 16px;
}
.navBtnContainer {
  width: 100%;
  height: var(--header-icon-height);
  display: flex;
  align-items: center;
}
.navIconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navIcon {
  width: var(--header-icon-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navIconContainer > span {
  font-size: 20px;
  cursor: pointer;
}

/* 1300px 부터 Navbar 작게 */
/* 1020px 부터 Sidebar 없앰 */
@media screen and (max-width: 1300px) {
  .navIconContainer > span {
    display: none;
  }
}
