@import url(../variables.css);

.header {
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.headerContainer {
  min-width: 260px;
  height: 100%;
}

.appIconContainer {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.appIconClickable {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.appIconClickable > img {
  width: 60px;
  height: 60px;
}
.appIconClickable > h1 {
  margin-left: 4px;
  font-size: 28px;
  font-weight: 700;
  color: var(--brand-color);
}

.navContainer {
  margin-top: 16px;
}
.navBtnContainer {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.navIconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navIcon {
  width: 34px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}
.navIconContainer > span {
  font-size: 20px;
  cursor: pointer;
}

/* 1300px 부터 Navbar 작게 */
/* 1020px 부터 Sidebar 없앰 */
@media screen and (max-width: 1300px) {
  .navIconContainer > span,
  .appIconClickable > h1 {
    display: none;
  }
  .headerContainer {
    width: 20%;
    min-width: 70px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 1020px) {
  .header {
    width: 15%;
    min-width: 85px;
  }
  .headerContainer {
    min-width: 70px;
    margin-left: 15px;
  }
}
