@import url(../variables.css);

.postContainer {
  min-height: 90px;
  display: flex;
  border-bottom: 1px solid var(--line-gray-color);
}
.postContentContainer {
  width: 100%;
}
.topDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topDiv > div:last-child > button,
.topDiv > div:last-child > input {
  font-size: 12px;
}
.infoSection {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 15px;
  color: var(--font-gray-color);
}
.infoSection > span:first-child {
  font-weight: 700;
  color: var(--font-black-color);
  margin-right: 4px;
}
.content {
  font-size: 15px;
  white-space: pre-wrap;
  line-height: 120%;
  margin-bottom: 16px;
}
.updatingInput {
  width: 100%;
  min-height: 24px;
  padding: 0px;
  font-size: 15px;
  resize: none;
}
.updatingInput::-webkit-scrollbar {
  width: 0px;
}
