@import url(../variables.css);

.main {
  flex: 2;
  display: flex;
}

.contentContainer {
  width: var(--main-content-width);
  outline: 1px solid var(--line-gray-color);
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-width: 1020px) {
  .main {
    flex: 4;
  }
}
@media screen and (max-width: 660px) {
  .contentContainer {
    width: 100%;
    min-width: 100%;
  }
  .main {
    flex: 12;
  }
}
