@import url(../variables.css);

.main {
  width: 100%;
  display: flex;
}

.contentContainer {
  max-width: 50%;
  min-width: 550px;
  border: 1px solid var(--line-gray-color);
}

@media screen and (max-width: 635px) {
  .contentContainer {
    width: 100%;
    min-width: 100%;
  }
}
