@import url(./reset.css);
@import url(./variables.css);
* {
  box-sizing: border-box;
  font-size: var(--app-default-font-size);

  font-family: "Roboto", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: var(--app-default-font-size);
  color: var(--font-black-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  height: 100vh;
}

.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}

.tabActive {
  font-weight: 700;
  color: var(--font-black-color);
}
.notTabActive {
  color: var(--font-gray-color);
}
